@import '../../../scheme/config.scss';

.header {
  @include gradient;
  width: 100%;
  padding: 0 20px;
  padding-right: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  box-sizing: border-box;

  transition: all 1s ease;
}

.header.off-top {
  box-shadow: 0 0 6px rgba(0,0,0,.2);
}
