@import '../../../../scheme/config.scss';

.hero {
  @include hero-gradient;
}

.hero .container {
  display: flex;
  height: 100vh;
  min-height: 680px;
  max-height: 800px;
  padding: 0 40px;

  @media (max-width: $break-medium) {
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 0;
    min-height: unset;
    max-height: unset;
  }
}

.hero__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 3;

  @media (max-width: $break-medium) {
    height: 100vh;
    position: unset;
    display: block;
    z-index: 2;
    background-color: rgba(0,0,0,0.1);
  }
}

.hero__left__content {
  width: 100%;
  max-width: 580px;
  color: white;

  @media (max-width: $break-medium) {
    background-color: rgba(0,0,0,0.5);
    width: unset;
    padding: 0 50px 20px 20px;
    margin: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.hero__title {
  font-size: 48px;
}

.hero__right {
  display: flex;
  align-items: flex-end;
  padding-top: 80px;
  flex: 2;

  @media (max-width: $break-medium) {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;
    overflow-x: hidden;
  }
}

.hero__image {
  width: unset;
  min-height: 90%;
  object-fit: cover;

  @media (max-width: $break-medium) {
    min-height: unset;
    position: absolute;
    right: -132px;
    bottom: 0;
  }
}
