.nav-bar__list {
  font-size: 18px;
  font-family: var(--font-header);
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  transition: 1s all ease;
}

.header.off-top .nav-bar__list {
  margin: 15px 0;
}

.nav-bar__item {
  padding: 4px 30px;
  display: inline-block;
  transition: 1s all ease;
}

.header.off-top .nav-bar__item {
  padding: 0px 25px;
}

a.nav-bar__link {
  color: white;
  text-decoration: none;
  padding-bottom: 4px;
  
  &.active {
    border-bottom: 1px solid var(--color-pink);
  }
}
