.nav-bar {
  width: 50%;
}

.nav-bar__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  font-family: var(--font-header);
  font-size: 18px;
}

.nav-bar__item {
  display: inline-block;
  padding: 4px;
}

a.nav-bar__link {
  text-decoration: none;
  color: black;
}
