.nav-bar__list {
  font-size: 18px;
  font-family: var(--font-header);
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}

.nav-bar__item {
  padding: 4px 16px;
  display: inline-block;
}

a.nav-bar__link {
  color: black;
  text-decoration: none;
  
  &.active {
    color: var(--color-purple);
  }
}