.language-switching-animation__shade {
  position: fixed; 
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: var(--color-purple);
  pointer-events: none;
  transition: .5s width ease, .5s height ease;
  border-bottom-left-radius: 10px;
  opacity: 1;

  &.active {
    pointer-events: all;
    width: 100%;
    height: 100%;
  }
}

@keyframes {
  
}
