.button {
  font-family: var(--font-body-secondary);
  padding: 12px 24px;
  border: none;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: #fb00ca; /* Old browsers */
  background: -moz-linear-gradient(left, var(--color-pink) 0%, var(--color-purple) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, var(--color-pink) 0%,var(--color-purple) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, var(--color-pink) 0%,var(--color-purple) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb00ca', endColorstr='#7c00fe',GradientType=1 ); /* IE6-9 */
  letter-spacing: 1px;
  font-weight: 100px;
  display: inline-block;
  margin: 8px 0;
}