.banner--schedule {
  padding-bottom: 60px;
}

.schedule-row {
  text-align: left;
  padding: 20px 18px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-pink);

  &:nth-child(odd) {
    background-color: #F7F7F7;
  }

  &:last-child {
    border-bottom: 1px solid var(--color-pink);
  }
}

.schedule-row__field {
  flex: 1;
}
