.footer {
  background-color: var(--color-purple-dark);
  color: white;
  padding-top: 30px;
  padding-bottom: 100px;
}

.footer h1 {
  color: white;
}

.footer h3 {
  font-size: 30px;
  margin-top: 6px;
  margin-bottom: 1rem;
}

.footer__cta-message {
  font-size: 32px;
  line-height: 1.15;
  margin-top: 0;
}

.footer .container {
  max-width: 640px;
}

.footer__contact__container {
  display: flex;
  justify-content: space-between;
}

.footer__column {
  width: 50%;
  padding-right: 10px;

  &:not(:first-child) {
    margin-left: 40px;
  }
}

.footer__social-media__link,
.footer__phone-number {
  display: block;
  color: white;
  text-decoration: none;

  &:hover {
    opacity: .4;
  }
}