.footer {
  background-color: var(--color-purple-dark);
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer h3 {
  font-size: 30px;
  margin-top: 6px;
  margin-bottom: 1rem;
}

.footer__cta-message {
  font-size: 48px;
  margin-top: 0;
}

.footer > .container {
  display: flex;
  justify-content: space-between;
}

.footer__column {
  width: 32%;

  &:not(:first-child) {
    margin-left: 60px;
  }
}

.footer__social-media__link,
.footer__phone-number {
  display: block;
  color: white;
  text-decoration: none;

  &:hover {
    opacity: .4;
  }
}