:root {
  --color-pink: #FB00CA;
  --color-purple: #7C00FE;
  --font-sans-serif: 'Open Sans', sans-serif;
  --font-serif: 'Times New Roman', serif;
  --font-header: var(--font-serif);
  --font-body: var(--font-sans-serif);
}
