:root {
  --color-pink: #FF00D4;
  --color-purple: #910DFF;
  --color-purple-dark: #6934BF;
  --color-grey-100: #eee;
  --color-grey-500: #555;
  --font-sans-serif: 'Open Sans', sans-serif;
  --font-sans-serif-secondary: 'Montserrat', 'Open Sans', sans-serif;
  --font-serif: 'Arapey', serif;

  --font-header: var(--font-serif);
  --font-body: var(--font-sans-serif);
  --font-body-secondary: var(--font-sans-serif-secondary);

  --breakpoint-xs: 350px;
  --breakpoint-sm: 800px;
}

@mixin gradient {
  background: transparent linear-gradient(90deg, #6934BF 0%, #6934BF 0%, #ED06D154 80%, #FF00D400 100%) 0% 0% no-repeat padding-box;
  opacity: 0.56;
}