.language-switcher {
  color: var(--color-grey-500);
  font-size: 14px;
  font-family: var(--font-body-secondary);
  background-color: var(--color-grey-100);
  width: 35px;
  height: 35px;
  border: none;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }
}
