@import '../../../scheme/config.scss';

.language-switcher {
  color: white;
  font-size: 18px;
  font-family: var(--font-body-secondary);
  background-color: var(--color-grey-100);
  width: 4rem;
  height: 100%;
  border: none;
  display: inline-block;
  background: var(--color-purple);
  position: absolute;
  right: 0;
  top: 0;
  
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    text-decoration: underline;
  }

  @media (max-width: $break-medium) {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    top: unset;
    margin: 20px;
    margin-bottom: 30px;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 8px rgba(0,0,0, 0.3);
  }
}
